body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.w3schools.com/howto/photographer.jpg"); */
    height: 50%;
    background: rgb(238,174,178);
    background: radial-gradient(circle, rgba(238,174,178,1) 21%, rgba(42,90,156,1) 88%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    padding-top: 150px;
    padding-bottom: 150px;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#navbar {
    overflow: hidden;
    background-color: #333;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.sticky + .hero-image {
    padding-top: 60px;
}