* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

.column a{
    color: black;
    text-decoration-line:none;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-word;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
    transition: .5s ease;
}

.column:hover{
    opacity: 0.6;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

nav ul{
    list-style-type: none;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

nav li{
    display: inline-block;
    padding: 8px 0px;
}

nav li a{
    text-decoration:none;
    color: #000;
    font-style: italic;
    padding: 8px 16px;
}
/* Add style for when the user hovers over a nav button */
nav li a:hover{
    background-color: #555;
    color: white;
}
/* Style for when user is at that page */
.activeTab {
    background-color: #555; 
    color: white; 
    font-style:italic; 
    padding: 8px 16px; 
    cursor: default;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}